* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: rgb(169, 169, 169);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  height: 100dvh;
}

.nav-bar {
  position: sticky;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background: url('/src/assets/sofa-logo.png');
  background-size: 47px;
  height: 30px;
  width: 46px;
}

.user-container,
.logo {
  margin: 20px;
}

.container {
  display: grid;
  margin: 20px;
  gap: 24px;
  place-items: center;
  position: relative;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: grid;
  width: 170px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
}

.card img {
  width: 100%;
}

.footer {
  width: 100%;
  height: 90px;
  color: rgb(255, 255, 255);
  background: rgb(240, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100%;
}

.container button {
  padding: 1em;
  margin-bottom: -2.4em;
  background: rgb(0, 128, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.container button:hover {
  background: rgb(184, 134, 11);
}

.review-card {
  padding: 10px;
}

.reviews {
  display: flex;
  padding: 10px;
}

.break {
  height: 1px;
  width: 90%;
  background-color: rgb(255, 127, 80);
}
