* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: darkgrey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  height: 100dvh;
}

.nav-bar {
  position: sticky;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background: url('/src/assets/sofa-logo.png');
  background-size: 47px;
  height: 30px;
  width: 46px;
}

.user-container,
.logo {
  margin: 20px;
}

.container {
  display: grid;
  margin: 36px;
  gap: 24px;
  place-items: center;
  position: relative;
}

.properties {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: grid;
  width: 170px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
}

.card img {
  width: 100%;
}

.footer {
  width: 100%;
  height: 90px;
  color: white;
  background: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100%;
}

.container button {
  position: absolute;
  top: 55%;
  height: 2em;
  width: 50%;
}

.review-card {
    padding: 10px;
}

.reviews {
    display: flex;
    padding: 10px;
}

.break {
    height: 1px;
    width: 90%;
    background-color: coral;
}
